
services:
  backend:
    build:
      context: ./backend
    container_name: showmate_backend
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
    depends_on:
      - db
    volumes:
      - ./backend:/app
    command: >
      bash -c "uv run fastapi run  app/main.py --host 0.0.0.0 --port 8000 --reload"

  db:
    image: postgres:15
    container_name: showmate_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: showmate_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
